body {
  text-align: center;
  font-family: Helvetica, sans-serif;
  color: black;
}

.background {
  background-image: url(../images/the-flatiron-building.png);
  color: white;
}

footer {
  background-color: dimgray;
  text-align: left;
  color: white;
  font-size: 11px;
}

a {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;w
}

p {
  font-size: 14px;
}
